body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
	background-image: url("bigsky.jpg");
	text-align: center;
}

h1 {
	color: #2E2E1F;
	margin-bottom: 50px;
	margin-top: 50px;
}

form {
	margin-left: auto;
  margin-right: auto;
	border-radius: 5px;
	background-color: #2E2E1F;
	color: white;
	padding-top: 30px;	
	padding-left: 30px;	
	padding-right: 30px;
	margin-bottom: 10px;
}

.deleteForm {
	margin: 0px;
	padding: 0px;
}

#rotateButton {
	float: left;
	color: green;
}

input[type="file"] {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

textarea, input[type="text"]{
	border-color: #669999;
	border-width: 3px;
	border-radius: 5px;
	border-style: solid;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: white;
	margin-right: 2%;
	margin-bottom: 30px;
}

textarea {
	width: 100%;
}

input[type="text"] {
	width: 20%;
}

button {
	float: right;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	border-color: #2E2E1F;
	font: "Comic Sans MS 75% cursive, sans-serif";
	color: orange;
	background-color: #2E2E1F;
	height: 30px;
	width: 50px;
	cursor: pointer;
}

#rotateButton {
	height: 50px;
}

.right-align {
	float: right;
}

div.right-align {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: #669999;
}

.green {
	color: green;
}

.orange {
	color: orange;
}