body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 25px;
	background-image: url("bigsky.jpg");
	text-align: center;
}

h1 {
	color: #2E2E1F;
	margin-bottom: 50px;
	margin-top: 50px;
}

form {
	margin-left: auto;
  margin-right: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #2E2E1F;
	color: white;
	padding-top: 30px;	
	padding-left: 30px;	
	padding-right: 30px;
	text-align: right;
	width: 35%;
	
}


input[type="text"], input[type="password"] {
	width: 60%;
	border-color: #669999;
	border-width: 3px;
	border-radius: 5px;
	border-style: solid;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}


#loginButton  {
	cursor: pointer;
	border-radius: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #669999;
	margin-right: 2%;
	min-width: 60px;
	width: 5%;
	margin-bottom: 30px;
}

#creatAccount {
	cursor: pointer;
	border-radius: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1.6em;
	color: #CCFFFF;
	background-color: #0033CC;
	height: 150px;
	width: 150px;
	margin-top: 10%;
}
