body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-top: 25px;
	padding-right: 100px;
	padding-bottom: 25px;
	padding-left: 100px;
	background-color: white;
}

form {
	margin-left: auto;
  margin-right: auto;
	border-radius: 5px;
	background-color: #2E2E1F;
	color: white;
	padding-top: 30px;	
	padding-left: 30px;	
	padding-right: 30px;
	margin-bottom: 10px;
}

input[type="file"] {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

textarea, input[type="text"], input[type="password"], #loginButton {
	border-radius: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #CCFFFF;
	margin-right: 40px;
	margin-bottom: 30px;
}


#username, #password , #caption {
	width: 300px;
}

.right-align {
	float: right;
}

